:root {
  /* Colors */
  --content-primary: #fff;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;

  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0A;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
  --gradient-background: #D586E0 0%, #91A1FA 98.93%;
  --gradient-content: 90deg, #C7C9CC 0%, #3D3D3D 100%;


  /* Fonts  */

  --ff-sora: 'Sora', sans-serif;
  --ff-robotoMono: 'Roboto Mono', sans-serif;
  --ff-robotoFlex: 'Roboto Flex', sans-serif;

  /* Sora Fonts */

  --display-large: 900 4.5rem/1.3 var(--ff-sora);
  --display-medium: 900 2.5rem/1.3 var(--ff-sora);
  --display-small: 700 2rem/1.3 var(--ff-sora);

  /* Roboto Mono Fonts */

  --overline: 800 1rem/1.5 var(--ff-robotoMono);

  /* Roboto Flex Fonts */

  --paragraph-large: 500 1rem/1.5 var(--ff-robotoFlex);
  --paragraph-medium: 500 0.875rem/1.5 var(--ff-robotoFlex);
  --paragraph-small: 500 0.75rem/1.5 var(--ff-robotoFlex);
  --label-medium: 700 1.25rem/1.5 var(--ff-robotoFlex);
  --label-small: 700 1rem/1.5 var(--ff-robotoFlex);
}

html,
button,
a {
  --webkit-font-smothing: antialiased;
  font: var(--paragraph-large);
  color: var(--content-primary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background-primary);
}

input {
  all: unset;
}

.number-field-container {
  width: 5.375rem;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  position: relative;

  &:hover {
    & #label-field:hover {
      color: var(--background-brand);
    }

    & #number-field:hover {
      background-color: var(--background-tertiary);
    }


    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      bottom: -1px;
      background: linear-gradient(var(--gradient-border));

      width: 100%;
      padding: 0.3125rem 0.5625rem;

      border-radius: 0.5rem;
      height: 3.5rem;
    }
  }

  & #label-field {
    width: 100%;
    height: 100%;
    font: var(--label-medium);
    color: var(--content-secondary);
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
  }

  & #number-field {
    width: 100%;
    height: 3.5rem;
    padding: 0.25rem 0.5rem;
    text-align: center;

    font: var(--display-small);
    background-color: var(--background-secondary);
    border-radius: 0.5rem;
  }

}

input[type="checkbox"] {
  all: unset;

  width: 30px;
  height: 20px;
  background: var(--content-tertiary);
  border-radius: 1rem;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 3px;
    bottom: 3px;
    left: 3px;
    background-color: var(--content-primary);
    border-radius: 999px;
  }

  &:checked {
    background: linear-gradient(var(--gradient-background));

    &::before {
      left: 13px;
    }
  }
}

button {
  width: 30.125rem;
  height: 3.5rem;
  padding: 1rem;
  cursor: pointer;


  text-transform: uppercase;
  font-weight: 600;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: var(--background-tertiary);
  border-radius: 0.5rem;
  position: relative;

  &:hover {
    background: var(--background-secondary);

    &::before {
      content: "";
      width: 486px;
      height: 60px;
      top: -2px;
      z-index: -1;
      background: linear-gradient(var(--gradient-border));
      border-radius: 0.5rem;
      position: absolute;
    }
  }
}